cmake-build-debug/
.idea/*
!.idea/codeStyles/

platformio_nuli_avionics_flight_software/.pio
platformio_nuli_avionics_flight_software/.idea/*
!platformio_nuli_avionics_flight_software/.idea/codeStyles/