cmake-build-debug/
.idea/*
!.idea/codeStyles/
!.idea/codeStyles/inspectionProfiles/
platformio_nuli_avionics_flight_software/simulation/data/*.txt

platformio_nuli_avionics_flight_software/.pio
platformio_nuli_avionics_flight_software/.idea/*
platformio_nuli_avionics_flight_software/logs/
!platformio_nuli_avionics_flight_software/.idea/codeStyles/
!platformio_nuli_avionics_flight_software/.idea/inspectionProfiles/
platformio_nuli_avionics_flight_software/.vscode/extensions.json
platformio_nuli_avionics_flight_software/compile_commands.json
platformio_nuli_avionics_flight_software/src/Avionics.exe
/platformio_nuli_avionics_flight_software/.vscode/*
platformio_nuli_avionics_flight_software/simulation/output.txt
simulation/output.txt
